In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import os
import numpy as np

In [2]:
df = pd.read_csv(os.path.join("data", "transformed.csv"))

In [3]:
df.head()

,index,PassengerId,CryoSleep,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,...,Num_bucket,Total spendings,is_travelling_in_group,Age_bucket,HomePlanet_Earth,HomePlanet_Europa,HomePlanet_Mars,Destination_55 Cancri e,Destination_PSO J318.5-22,Destination_TRAPPIST-1e
0,0,0001_01,0,39.0,0,0.0,0.0,0.0,0.0,0.0,...,0,0.0,False,30.0,False,True,False,False,False,True
1,1,0002_01,0,24.0,0,109.0,9.0,25.0,549.0,44.0,...,0,736.0,False,20.0,True,False,False,False,False,True
2,2,0003_01,0,58.0,1,43.0,3576.0,0.0,6715.0,49.0,...,0,10383.0,True,50.0,False,True,False,False,False,True
3,3,0003_02,0,33.0,0,0.0,1283.0,371.0,3329.0,193.0,...,0,5176.0,True,30.0,False,True,False,False,False,True
4,4,0004_01,0,16.0,0,303.0,70.0,151.0,565.0,2.0,...,0,1091.0,False,10.0,True,False,False,False,False,True

# Data Analyse

# Predictions - stage 1

# Predictions - stage 2