# Space Titanic dataset analyse

Import required packages

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import os

# Load the dataset

In [4]:
filename = "train.csv"
df = pd.read_csv(os.path.join("data", filename))

# Inspect the dataset

In [9]:
df.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [24]:
print(f"Shape: {df.shape}")
print()
print(f"Datatypes:\n{df.dtypes}")

print()

Shape: (8693, 14)

Datatypes:
PassengerId      object
HomePlanet       object
CryoSleep        object
Cabin            object
Destination      object
Age             float64
VIP              object
RoomService     float64
FoodCourt       float64
ShoppingMall    float64
Spa             float64
VRDeck          float64
Name             object
Transported        bool
dtype: object

## Inspect missing values

In [19]:
df[df.isna().sum(axis=1) > 0]

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
7,0006_02,Earth,True,G/0/S,TRAPPIST-1e,28.0,False,0.0,0.0,0.0,0.0,NaN,Candra Jacostaffey,True
10,0008_02,Europa,True,B/1/P,TRAPPIST-1e,34.0,False,0.0,0.0,NaN,0.0,0.0,Altardr Flatic,True
15,0012_01,Earth,False,NaN,TRAPPIST-1e,31.0,False,32.0,0.0,876.0,0.0,0.0,Justie Pooles,False
16,0014_01,Mars,False,F/3/P,55 Cancri e,27.0,False,1286.0,122.0,NaN,0.0,0.0,Flats Eccle,False
23,0020_03,Earth,True,E/0/S,55 Cancri e,29.0,False,0.0,0.0,NaN,0.0,0.0,Mollen Mcfaddennon,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8667,9250_01,Europa,False,E/597/P,TRAPPIST-1e,29.0,False,0.0,2972.0,NaN,28.0,188.0,Chain Reedectied,True
8674,9257_01,NaN,False,F/1892/P,TRAPPIST-1e,13.0,False,39.0,0.0,1085.0,24.0,0.0,Ties Apple,False
8675,9259_01,Earth,NaN,F/1893/P,TRAPPIST-1e,44.0,False,1030.0,1015.0,0.0,11.0,NaN,Annah Gilleyons,True
8684,9274_01,NaN,True,G/1508/P,TRAPPIST-1e,23.0,False,0.0,0.0,0.0,0.0,0.0,Chelsa Bullisey,True
8687,9275_03,Europa,NaN,A/97/P,TRAPPIST-1e,30.0,False,0.0,3208.0,0.0,2.0,330.0,Atlasym Conable,True

In [20]:
df[df.isna().sum(axis=1) > 0].isna().sum(axis=1).value_counts()

1    1867
2     203
3      17
Name: count, dtype: int64

In [16]:
df[df["HomePlanet"].isna()].isna().sum()

PassengerId       0
HomePlanet      201
CryoSleep         2
Cabin             6
Destination       4
Age               2
VIP               3
RoomService       6
FoodCourt         2
ShoppingMall      7
Spa               3
VRDeck            1
Name              7
Transported       0
dtype: int64

In [32]:
df["CryoSleep"].value_counts()

CryoSleep
False    5439
True     3037
Name: count, dtype: int64

In [40]:
df[df["CryoSleep"]==True].describe()

               Age  RoomService  FoodCourt  ShoppingMall     Spa  VRDeck
count  2955.000000       2969.0     2967.0        2941.0  2972.0  2975.0
mean     27.405415          0.0        0.0           0.0     0.0     0.0
std      15.080469          0.0        0.0           0.0     0.0     0.0
min       0.000000          0.0        0.0           0.0     0.0     0.0
25%      18.000000          0.0        0.0           0.0     0.0     0.0
50%      26.000000          0.0        0.0           0.0     0.0     0.0
75%      37.000000          0.0        0.0           0.0     0.0     0.0
max      78.000000          0.0        0.0           0.0     0.0     0.0

Conclusions:
 - Dataset contains 8693 rows described by 14 attributes
 - Columns are either floats or strings. Only target column is bool.
 - Almost all columns contain around 200 missing values. The majority of rows have 0 or 1 missing values.
    - 1867 rows have one missing value. Because of large percentage of those rows in dataset, some imputation will be needed.
    - Only 203 rows have 2 missing values. Only 17 rows have 3 missing values. There is no row with more than 3 missing values.
 - Column 'Transported' is target, that we have to predict.
 - 'Passenger_id' column contains two numbers: first indicates a group (number of ticket?) the passenger is travelling with. Second number is their number within the group.
 - 'CryoSleep' columns indicate whether passenger is confied to his room. Those people don't spend any money - this information may be helpful for data imputing.
 - VIP passenger has paid for special services
 - Last name of passenger may indicate, if passengers in group are a family.

Things to do during feature engineering and data cleaning phase:
 - impute missing values or remove rows containing them.
 - divide columns PassengerId and Cabin into more atomic attributes
 - bucketize 'Age' and expenses columns
 - Create new features: 'is_travelling_alone', 'is_travelling_with_family'

# Data preparation

Data cleaning and feature engineering that will faciliate analysis and help to get better predictions.

## Impute values

### Rows with three missing values

In [58]:
df[df.isna().sum(axis=1) == 3]

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,...,VRDeck,Name,Transported,"(TicketId, InvidualId)",TicketId,InvidualId,LastName,Deck,Num,Side
813,0865_01,Europa,True,B/35/S,55 Cancri e,36.0,False,0.0,NaN,0.0,...,0.0,NaN,True,"[0865, 01]",0865,01,NaN,B,35,S
833,0890_01,Mars,False,F/184/P,TRAPPIST-1e,16.0,False,172.0,NaN,338.0,...,0.0,NaN,False,"[0890, 01]",0890,01,NaN,F,184,P
1203,1284_01,Mars,True,F/247/S,NaN,NaN,False,0.0,NaN,0.0,...,0.0,Hal Knité,True,"[1284, 01]",1284,01,Knité,F,247,S
1207,1287_02,Mars,True,F/259/P,55 Cancri e,4.0,False,0.0,0.0,0.0,...,0.0,NaN,True,"[1287, 02]",1287,02,NaN,F,259,P
1616,1711_01,Earth,NaN,F/327/S,TRAPPIST-1e,51.0,False,437.0,244.0,908.0,...,0.0,NaN,False,"[1711, 01]",1711,01,NaN,F,327,S
1617,1712_01,Mars,NaN,F/339/P,TRAPPIST-1e,17.0,False,139.0,0.0,959.0,...,0.0,NaN,False,"[1712, 01]",1712,01,NaN,F,339,P
1718,1829_01,Europa,False,D/56/P,55 Cancri e,48.0,False,0.0,3578.0,80.0,...,NaN,NaN,True,"[1829, 01]",1829,01,NaN,D,56,P
1726,1834_01,Mars,False,F/354/S,NaN,26.0,False,17.0,0.0,1582.0,...,0.0,NaN,True,"[1834, 01]",1834,01,NaN,F,354,S
1755,1865_04,Earth,False,G/292/S,TRAPPIST-1e,7.0,False,0.0,0.0,0.0,...,NaN,NaN,False,"[1865, 04]",1865,04,NaN,G,292,S
1855,1978_01,NaN,True,G/311/S,TRAPPIST-1e,19.0,False,0.0,0.0,0.0,...,0.0,NaN,True,"[1978, 01]",1978,01,NaN,G,311,S
1928,2062_01,Mars,NaN,F/398/S,TRAPPIST-1e,17.0,False,583.0,0.0,753.0,...,0.0,NaN,False,"[2062, 01]",2062,01,NaN,F,398,S
2274,2443_01,NaN,False,D/72/P,TRAPPIST-1e,31.0,False,1458.0,421.0,76.0,...,0.0,NaN,False,"[2443, 01]",2443,01,NaN,D,72,P
2639,2822_02,Earth,NaN,G/450/S,TRAPPIST-1e,5.0,NaN,0.0,0.0,0.0,...,NaN,Salley Harverez,False,"[2822, 02]",2822,02,Harverez,G,450,S
3091,3331_01,NaN,False,F/631/S,TRAPPIST-1e,40.0,False,666.0,4.0,83.0,...,50.0,NaN,True,"[3331, 01]",3331,01,NaN,F,631,S
3234,3476_03,Earth,False,G/571/P,55 Cancri e,0.0,False,0.0,0.0,0.0,...,0.0,NaN,True,"[3476, 03]",3476,03,NaN,G,571,P
3535,3790_01,NaN,True,G/620/P,TRAPPIST-1e,13.0,False,0.0,NaN,0.0,...,0.0,Trick Meyersones,True,"[3790, 01]",3790,01,Meyersones,G,620,P
3616,3888_01,Earth,False,G/633/S,NaN,0.0,False,0.0,0.0,0.0,...,0.0,NaN,True,"[3888, 01]",3888,01,NaN,G,633,S
3628,3903_03,Earth,True,G/636/P,55 Cancri e,7.0,False,0.0,0.0,0.0,...,0.0,NaN,True,"[3903, 03]",3903,03,NaN,G,636,P
3665,3938_01,Mars,True,F/743/S,NaN,56.0,False,0.0,0.0,0.0,...,0.0,NaN,True,"[3938, 01]",3938,01,NaN,F,743,S
3790,4044_02,Mars,False,F/765/S,TRAPPIST-1e,2.0,False,0.0,NaN,0.0,...,0.0,NaN,True,"[4044, 02]",4044,02,NaN,F,765,S
3803,4061_03,Mars,True,F/766/S,TRAPPIST-1e,1.0,False,0.0,0.0,0.0,...,0.0,NaN,True,"[4061, 03]",4061,03,NaN,F,766,S
3877,4160_01,Mars,False,F/783/S,TRAPPIST-1e,27.0,True,661.0,NaN,991.0,...,0.0,NaN,True,"[4160, 01]",4160,01,NaN,F,783,S
4164,4446_05,Europa,NaN,B/175/S,TRAPPIST-1e,33.0,False,0.0,4017.0,NaN,...,2260.0,Phah Chocaters,True,"[4446, 05]",4446,05,Chocaters,B,175,S
4290,4570_01,Europa,True,C/170/S,TRAPPIST-1e,64.0,False,0.0,0.0,NaN,...,0.0,NaN,True,"[4570, 01]",4570,01,NaN,C,170,S
4410,4680_03,Mars,NaN,F/952/P,TRAPPIST-1e,19.0,False,0.0,0.0,0.0,...,0.0,NaN,True,"[4680, 03]",4680,03,NaN,F,952,P
4768,5090_01,Earth,NaN,G/821/P,TRAPPIST-1e,0.0,False,0.0,0.0,0.0,...,0.0,NaN,False,"[5090, 01]",5090,01,NaN,G,821,P
4824,5144_01,Earth,True,G/830/P,TRAPPIST-1e,19.0,NaN,0.0,0.0,0.0,...,0.0,NaN,True,"[5144, 01]",5144,01,NaN,G,830,P
5179,5527_03,Earth,True,G/886/P,TRAPPIST-1e,49.0,False,NaN,0.0,0.0,...,0.0,NaN,False,"[5527, 03]",5527,03,NaN,G,886,P
5208,5555_01,NaN,False,G/896/S,NaN,43.0,NaN,1.0,0.0,213.0,...,701.0,Winia Blanglison,True,"[5555, 01]",5555,01,Blanglison,G,896,S
5388,5756_04,Earth,NaN,F/1194/P,TRAPPIST-1e,23.0,False,0.0,0.0,0.0,...,0.0,NaN,False,"[5756, 04]",5756,04,NaN,F,1194,P
5409,5777_01,Earth,NaN,F/1199/P,PSO J318.5-22,46.0,NaN,559.0,25.0,NaN,...,765.0,Katen River,False,"[5777, 01]",5777,01,River,F,1199,P
5531,5897_01,Europa,NaN,C/221/S,55 Cancri e,25.0,False,0.0,0.0,0.0,...,0.0,NaN,True,"[5897, 01]",5897,01,NaN,C,221,S
5577,5941_01,Earth,False,E/386/S,TRAPPIST-1e,NaN,False,72.0,914.0,0.0,...,7.0,NaN,True,"[5941, 01]",5941,01,NaN,E,386,S
5619,5977_02,Europa,False,B/230/S,55 Cancri e,57.0,False,200.0,9.0,0.0,...,24133.0,NaN,False,"[5977, 02]",5977,02,NaN,B,230,S
5702,6039_01,Earth,NaN,G/983/S,TRAPPIST-1e,2.0,False,0.0,0.0,0.0,...,0.0,NaN,True,"[6039, 01]",6039,01,NaN,G,983,S
5762,6108_01,NaN,False,F/1166/S,TRAPPIST-1e,13.0,False,206.0,28.0,0.0,...,629.0,NaN,False,"[6108, 01]",6108,01,NaN,F,1166,S
5831,6173_01,Europa,True,B/208/P,TRAPPIST-1e,23.0,False,0.0,0.0,NaN,...,0.0,NaN,True,"[6173, 01]",6173,01,NaN,B,208,P
6339,6708_02,Europa,False,A/67/P,TRAPPIST-1e,2.0,False,0.0,0.0,0.0,...,NaN,NaN,True,"[6708, 02]",6708,02,NaN,A,67,P
6904,7314_01,Europa,NaN,C/237/P,NaN,33.0,False,0.0,0.0,0.0,...,0.0,Aldun Venticable,True,"[7314, 01]",7314,01,Venticable,C,237,P
7435,7950_02,Earth,True,G/1287/P,TRAPPIST-1e,NaN,False,0.0,0.0,0.0,...,0.0,NaN,True,"[7950, 02]",7950,02,NaN,G,1287,P
7682,8202_03,NaN,True,C/306/S,TRAPPIST-1e,NaN,False,0.0,0.0,0.0,...,NaN,Charga Unkcatted,True,"[8202, 03]",8202,03,Unkcatted,C,306,S
8460,9034_04,Europa,False,D/288/P,TRAPPIST-1e,60.0,False,0.0,NaN,947.0,...,1.0,NaN,True,"[9034, 04]",9034,04,NaN,D,288,P
8613,9194_01,NaN,False,E/603/S,55 Cancri e,53.0,False,0.0,4017.0,0.0,...,3147.0,NaN,False,"[9194, 01]",9194,01,NaN,E,603,S
8664,9246_01,Earth,NaN,G/1490/S,TRAPPIST-1e,32.0,False,0.0,0.0,0.0,...,0.0,NaN,True,"[9246, 01]",9246,01,NaN,G,1490,S

### Impute names

### Impute Age

### Imput cryosleep

### Impute Cabin

### Impute Destination

### Impute HomePlanet

### Impute Expenses

If person was put in cryosleep, then all of missing values in these columns will be filled with `0`. Otherwise they will be filled with mean value, regarding their Age and Vip status.

In [57]:
expenses_columns = ["RoomService", "FoodCourt", "ShoppingMall", "Spa", "VRDeck"]
for col in expenses_columns:
    print(f"{col}")
    print(df[df[col].isna()]["CryoSleep"].value_counts())
    print()

RoomService
CryoSleep
False    111
True      68
Name: count, dtype: int64

FoodCourt
CryoSleep
False    110
True      70
Name: count, dtype: int64

ShoppingMall
CryoSleep
False    104
True      96
Name: count, dtype: int64

Spa
CryoSleep
False    113
True      65
Name: count, dtype: int64

VRDeck
CryoSleep
False    119
True      62
Name: count, dtype: int64

## Create new columns

### Divide id column

In [48]:
df[["TicketId", "InvidualId"]] = df["PassengerId"].str.split("_", expand=True)

### Divide name column

In [53]:
df[["FirstName", "LastName"]] = df["Name"].str.split(" ", expand=True)

Actually, I don't think that we need FirstName for this analysis

In [55]:
df = df.drop(columns=["FirstName"])

### Divide cabin column

In [56]:
df[["Deck", "Num", "Side"]] = df["Cabin"].str.split("/", expand=True)

## Bin continous values

# Data Analyse

# Predictions - stage 1

# Predictions - stage 2